body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.logo{
  background-image: url(/public/logo512.png) !important;
  height:30px;
}
/* style form-login */
.ant-form {
  width: 300px !important;
  margin:10rem auto !important;
}
.login-form-button{
  width: 100%;
  height:40px !important;
  margin: .3rem 0;
}
.ant-input-affix-wrapper{
  height:40px !important;
  margin:.3rem 0 !important;
}
.avatar{
  max-width:5rem;
}
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
.addproduct{
  margin:0 !important;
}
